<div class="p-4">
  <div mat-dialog-title>
    <h1>Crear Tienda</h1>
  </div>
  <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Descripcion</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">
        Cancel
      </button>
      <button mat-raised-button color="primary" type="submit">
        {{ data != null ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
