<div class="p-4">

    <div mat-dialog-title>
        <h1>Crear Producto</h1>
    </div>
    <form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="content">
            <div class="row">
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id">
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Categoría</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Temperatura Óptima</mat-label>
                    <input matInput formControlName="temperature">
                </mat-form-field>
            </div>

            <div class="row">
                <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="productionDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill" floatLabel="always">
                    <mat-label>Fecha Vencimiento</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dueDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
        </div>
    </form>
</div>